<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cars</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <h1>SPLASH BURDE CAR RENTALS</h1>
  <img src="assets/carrental.png" class="img-thumbnail" alt="carrental.png" />
  <mat-card class="login-page">
    <mat-card-title>User Profile (Template)</mat-card-title>
    <mat-card-content>
      <form class="login-form data-form">
        <mat-form-field>
          <input
            matInput
            type="email"
            name="email"
            email
            ngModel
            placeholder="Email"
            required
            #email
          />

          <!-- <mat-error *ngIf="email.errors?.required"
            >Email is required</mat-error
          >
          <mat-error *ngIf="email.errors?.email">Email is invalid</mat-error> -->
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            type="password"
            name="password"
            password
            ngModel
            placeholder="Password"
            required
            minlength="8"
            #pass
          />

          <!-- <mat-error *ngIf="pass.errors?.required"
            >Password is required</mat-error
          >
          <mat-error *ngIf="pass.errors?.minlength">
            Password must be atleast 8 character
          </mat-error> -->
        </mat-form-field>
        <button mat-raised-button color="primary">Submit</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
